<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617917155930-roppjtulcrjatvqapjrahebive9chogg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617917155930-roppjtulcrjatvqapjrahebive9chogg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>617917155930-l4621ka1oi5aoeaqii6980os8s0cd289.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDvEyIGr2gDMdT2R4jag0AtJGrbSaN8TC8</string>
	<key>GCM_SENDER_ID</key>
	<string>617917155930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onecollar.onecollar</string>
	<key>PROJECT_ID</key>
	<string>onecollar-6ba1b</string>
	<key>STORAGE_BUCKET</key>
	<string>onecollar-6ba1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617917155930:ios:2dcfb6a8e0ae761083a663</string>
</dict>
</plist>